<ul class="site-menu" data-plugin="menu">
  <li class="site-menu-category">Operación</li>
  <li class="dropdown site-menu-item has-sub">
    <a data-toggle="dropdown" href="javascript:void(0)" data-dropdown-toggle="false">
      <i class="site-menu-icon wb-layout" aria-hidden="true"></i>
      <span class="site-menu-title">Acciones</span>
      <span class="site-menu-arrow"></span>
    </a>
    <div class="dropdown-menu">
      <div class="site-menu-scroll-wrap is-list">
        <div>
          <div>
            <ul class="site-menu-sub site-menu-normal-list">
              <li class="site-menu-item">
                <a class="animsition-link" href="../layouts/grids.html">
                  <span class="site-menu-title">Reimpresión</span>
                </a>
              </li>
              <li class="site-menu-item">
                <a class="animsition-link" href="../layouts/layout-grid.html">
                  <span class="site-menu-title">Anulación</span>
                </a>
              </li>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li class="site-menu-category">Información</li>
  <li class="dropdown site-menu-item has-sub">
    <a data-toggle="dropdown" href="javascript:void(0)" data-dropdown-toggle="false">
      <i class="site-menu-icon wb-extension" aria-hidden="true"></i>
      <span class="site-menu-title">Documentos</span>
      <span class="site-menu-arrow"></span>
    </a>
    <div class="dropdown-menu">
      <div class="site-menu-scroll-wrap is-list">
        <div>
          <div>
            <ul class="site-menu-sub site-menu-normal-list">
              <li class="site-menu-item">
                <a class="animsition-link" href="../widgets/statistics.html">
                  <span class="site-menu-title">Manuales</span>
                </a>
              </li>
              <li class="site-menu-item">
                <a class="animsition-link" href="../widgets/data.html">
                  <span class="site-menu-title">Términos y Condiciones</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>